<h1>You want a number between <b style="color:red"><%= @numbers2 %></b> and <b style="color:red"><%= @numbers3 %></b>?</h1>

<p style="font-size:40px;color:<%= @color %>"><%= @generated%></p>



</ul>
